html,body {
   font-family: Arial;
 }
 
 .btn-show {
   font-size: 2rem;
   background-color: #ff8800;
   padding: 10px;
   border: 2px solid #bb7700;
   color: #fff;
   border-radius: 8px;
   cursor: pointer;
 
   transition: all .5s;
   --webkit--transition: all .5s;
 
 }
 .btn-show:hover {
   font-size: 2.5rem;
   background-color: #ffaa00;
 }
 .btn-wrapper {
   text-align: center;
   width: 100%;
   position: absolute;
   top: 50%;
   z-index: 0;
 
   transform: translateY(-50%);
   --webkit--transform: translateY(-50%);
 }
 .pop-wrapper {
   display: none;
   z-index: 0;
   width: 100%;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
   --webkit--transform: translateY(-50%);
 }
 
 .pop-content {
   position:relative;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   border: 1px solid #ccc;
   padding: 25px;
   background-color:#9faab5;
   /*background-image: url(http://www.trinitycanrc.org/wp-content/uploads/2014/09/welcome.jpg);*/
   background-size: 100%;
   color: white;
   background-repeat: no-repeat;
 } 

.popupheading{
  text-align: center;
    font-size: 30px;
    font-family: Arial;
    color: black;
}

.label{
	color:black;
}

.input{
	width:100%;

}

.popupdiv{
	width:50%;
	margin-left: auto;
    margin-right: auto;
}


.close{
	width:10px;
	top:0;
	right:0;
	position:absolute;
	cursor:pointer;
}





