

body,html{
  background:#9faab5;
  font-size:12px;
  
}

nav ul li:hover{
      color:white;
    }

nav ul li {
  
  display:inline-block;

  border:1px solid #999;
  border-radius:5px;
  border-color:#C9CDD6;

  padding: 10px 20px;
  margin:10px 20px;
  background-color:#C9CDD6;
}
nav {
	z-index:99;
  text-align:center;
 width:100%;
 position: fixed;
 top:150px;
 left:0;
}

ul li{
	font-size:25px;
	font-family: 'Noto Sans', sans-serif;

}


h1{
  text-align:center;
  font-size:90px;
  font-family:Arial;
}
a:visited {
  color:black;
}

.img{
  display:inline-block;
  width:710px;
  height:600px;
}

.imgs{
  display:inline-block;
  width:20px;
  height:20px;
  margin-left:20px;
  margin-top:40px;
}



.top{
  display:inline-block;
  margin:0px 20px;
  font-size:90px;
  font-family:Bradley Hand;
  position:fixed;
}

.divcenter{
  text-align:center;
}


.h{
  text-align:center;
  font-size:20px;
  margin-top:130px;
  font-family:Bradley Hand;

}

.heading-margin{
  padding-top:105px;
  width:100%;
  border-bottom:1px solid #ccc; 
  background-color: #C9CDD6;

  
}


.div{
  width:100%;
  border-bottom:1px solid #ccc; 
  background-color: #C9CDD6;
}

.divfixed{
  width:100%;
  border-bottom:1px solid #ccc; 
  background-color: white;
  position:fixed;
}

.hb{
  font-size:25px;
  margin-top:10px;
  margin-bottom:30px;
  font-family:Bradley Hand;
}
.hbm{
  font-size:25px;
  margin-top:10px;
  margin-bottom:30px;
  font-family:'Noto Sans', sans-serif;
  margin-left:100px;
}

.hbmm{
  text-align:center;
  font-size:15px;
  margin-top:10px;
  margin-bottom:30px;
  font-family:Bradley Hand;
  
}





.dropdown{

  position: relative;
  display: inline-block;

}

.dropdown-content {
  text-align: center;
  left:0;
  display: none;
  position: absolute;
  background-color: #9faab5;
  width: 600px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdowntitle{
  
  display:inline-block;
  font-size:20px;
  margin-top:0px;
  margin-bottom:30px;
  margin-left:100px;
  font-family:Arial solid;
}
.dropdowntitleleft{
  display:inline-block;
  font-size:20px;
  margin-top:0px;
  margin-bottom:30px;

  font-family:Arial solid;
}

.dropdownbody{
  text-align:left;
  font-size:10px;
  margin-top:100px;
  margin-bottom:30px;

  font-family:Bradley Hand solid;
}

.dropdownborder{
  border-right:1px ;
}
.marginleft{
  margin-left:430px;
  font-size:15px;
  font-family:Arial solid;
}

.marginleftsec{
  margin-left:220px;
  font-size: 15px;
  font-family: Arial solid;
}
.marginleftsecnext{
  margin-left:300px;
  font-size: 15px;
  font-family: Arial solid;
}

.marginleftthd{
  margin-left:160px;
  font-size:15px;
  font-family:Arial solid;
}

.marginleftthdnext{
  margin-left:175px;
  font-size:15px;
  font-family:Arial solid;
}

.imagewomen{
  width:100%;
  height:700px;
}
.positionfixed{
  position:fixed;
}
#heading{
  font-color:black;
}

.cursor{
  cursor:pointer;
}

.backgroundcolorwomen{
  background-color:white;
}

.about-image{
  width:49%;
}

@media(max-width: 1270px) {
  nav ul li{display: inline-block;
        border:1px solid #999;
        border-radius:5px;
        padding: 10px 20px;
        margin:10px 20px;
        background-color:#C9CDD6;
        font-size:10px;
      }  
      .about-image{
       width:49%;
  }

  }
@media(max-width: 1098px) {
  
      .about-image{
       width:100%;
  }

  }

@media(max-width: 837px) {
  nav ul li{display: inline-block;
        border:1px solid #999;
        border-radius:5px;
        padding: 10px 20px;
        margin:10px 20px;
        background-color:#C9CDD6;
        font-size:5px;
      }  

  }





@media(max-width:479px){
  nav ul li{display: inline-block;
        border:1px solid #999;
        border-radius:5px;
        padding: 10px 20px;
        margin:10px 20px;
        background-color:#C9CDD6;
}

@media (max-width:1442px){
  
}
@media(max-width:530px){

  .about-image{
    width:80%;
  }
}


.popupheading{
  text-align: center;
    font-size: 30px;
    font-family: Arial;
    color: black;
}


















